# Uploading the datasets

In [1]:
import numpy as np
import pandas as pd

In [2]:
content = pd.read_csv('Content.csv')
reactions = pd.read_csv('Reactions.csv')
reaction_types = pd.read_csv('ReactionTypes.csv')

---

# Inspecting and cleaning the contents dataset

In [3]:
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [4]:
content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [5]:
content.columns

Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Category', 'URL'], dtype='object')

### The columns 'Unnamed: 0' and 'User ID' and 'URL' are not relevant to our findings and should be dropped.

In [6]:
content = content.drop(['Unnamed: 0', 'User ID', 'URL'], axis=1)
content.head()

                             Content ID   Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f  photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6  photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180  video            food

In [7]:
print(content.Category.unique())
print(len(content.Category.unique()))

['Studying' 'healthy eating' 'technology' 'food' 'cooking' 'dogs' 'soccer'
 'public speaking' 'science' 'tennis' 'travel' 'fitness' 'education'
 'studying' 'veganism' 'Animals' 'animals' 'culture' '"culture"' 'Fitness'
 '"studying"' 'Veganism' '"animals"' 'Travel' '"soccer"' 'Education'
 '"dogs"' 'Technology' 'Soccer' '"tennis"' 'Culture' '"food"' 'Food'
 '"technology"' 'Healthy Eating' '"cooking"' 'Science' '"public speaking"'
 '"veganism"' 'Public Speaking' '"science"']
41

### We see that some of the items in the 'Category' column have double quotes around them. Let's remove double quotes

In [8]:
content['Category'] = content['Category'].str.replace('"', '')
print(content.Category.unique())
print(len(content.Category.unique()))

['Studying' 'healthy eating' 'technology' 'food' 'cooking' 'dogs' 'soccer'
 'public speaking' 'science' 'tennis' 'travel' 'fitness' 'education'
 'studying' 'veganism' 'Animals' 'animals' 'culture' 'Fitness' 'Veganism'
 'Travel' 'Education' 'Technology' 'Soccer' 'Culture' 'Food'
 'Healthy Eating' 'Science' 'Public Speaking']
29

### We see that there are duplicated items as well (some begin with uppercase letters and others begin with lowercase letters). Let's unify this.

In [9]:
content['Category'] = content['Category'].str.capitalize()
print(content.Category.unique())
print(len(content.Category.unique()))

['Studying' 'Healthy eating' 'Technology' 'Food' 'Cooking' 'Dogs' 'Soccer'
 'Public speaking' 'Science' 'Tennis' 'Travel' 'Fitness' 'Education'
 'Veganism' 'Animals' 'Culture']
16

### The 'Category' column has 16 unique items. Relative to the entire length of the dataset, this column should be made categorical rather than a string. This reduces the total size of the dataset, hence maximising storage.

In [10]:
content['Category'] = content['Category'].astype('category')
content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  1000 non-null   object
 1   Type        1000 non-null   object
 2   Category    1000 non-null   category
dtypes: category(1), object(2)
memory usage: 17.4+ KB

In [11]:
content.Type.unique()

array(['photo', 'video', 'GIF', 'audio'], dtype=object)

### The 'Type' column has 4 unique items. Relative to the entire length of the dataset, this column should be made categorical rather than a string. This reduces the total size of the dataset, hence maximising storage.

### Furthermore, the name of the column should be changed to 'Content type'.

In [12]:
content['Type'] = content['Type'].astype('category')
content = content.rename(columns={'Type': 'Content type'})
content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Content ID    1000 non-null   object
 1   Content type  1000 non-null   category
 2   Category      1000 non-null   category
dtypes: category(2), object(1)
memory usage: 10.8+ KB

---

# Inspecting and cleaning the reactions dataset

In [13]:
reactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [14]:
reactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25553 non-null  int64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB

### The columns 'Unnamed: 0' and 'User ID' are not relevant to our findings and should be dropped.

In [15]:
reactions = reactions.drop(['Unnamed: 0', 'User ID'], axis=1)
reactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  25553 non-null  object
 1   Type        24573 non-null  object
 2   Datetime    25553 non-null  object
dtypes: object(3)
memory usage: 599.0+ KB

### Missing rows in the 'Type' column should be deleted because type is essential to determining the type of reaction people have towards a particular content which is also a form of popularity ranking.
### The column should be renamed to 'Reaction type'

In [16]:
reactions = reactions.dropna(subset='Type')
reactions = reactions.rename(columns={'Type': 'Reaction type'})
reactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24573 entries, 1 to 25552
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     24573 non-null  object
 1   Reaction type  24573 non-null  object
 2   Datetime       24573 non-null  object
dtypes: object(3)
memory usage: 767.9+ KB

### The 'Reaction type' column should be made categorical since there are distinct reactions. This reduces the total size of the dataset, hence maximising storage.

In [17]:
reactions['Reaction type'].unique()

array(['disgust', 'dislike', 'scared', 'interested', 'peeking', 'cherish',
       'hate', 'love', 'indifferent', 'super love', 'intrigued',
       'worried', 'like', 'heart', 'want', 'adore'], dtype=object)

In [18]:
reactions['Reaction type'] = reactions['Reaction type'].astype('category')
reactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24573 entries, 1 to 25552
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     24573 non-null  object
 1   Reaction type  24573 non-null  category
 2   Datetime       24573 non-null  object
dtypes: category(1), object(2)
memory usage: 600.6+ KB

### The 'Datetime' column should contain timestamp data rather than string. This faciliatates easier calculations regarding time and date.

In [19]:
reactions['Datetime'] = pd.to_datetime(reactions['Datetime'])
reactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24573 entries, 1 to 25552
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     24573 non-null  object
 1   Reaction type  24573 non-null  category
 2   Datetime       24573 non-null  datetime64[ns]
dtypes: category(1), datetime64[ns](1), object(1)
memory usage: 600.6+ KB

---

# Inspecting and cleaning the reaction_types dataset

In [20]:
reaction_types.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [21]:
reaction_types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16 non-null     int64
 1   Type        16 non-null     object
 2   Sentiment   16 non-null     object
 3   Score       16 non-null     int64
dtypes: int64(2), object(2)
memory usage: 640.0+ bytes

### The column 'Unnamed: 0' is not relevant to this dataset and should be dropped.

In [22]:
reaction_types = reaction_types.drop('Unnamed: 0', axis=1)
reaction_types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Type       16 non-null     object
 1   Sentiment  16 non-null     object
 2   Score      16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes

### The 'Type' and 'Sentiment' columns should be categorical.

In [23]:
reaction_types[['Type', 'Sentiment']] = reaction_types[['Type', 'Sentiment']].astype('category')
reaction_types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Type       16 non-null     category
 1   Sentiment  16 non-null     category
 2   Score      16 non-null     int64
dtypes: category(2), int64(1)
memory usage: 1.1 KB

### 'Type' column should be renamed as 'Reaction type'.

In [24]:
reaction_types = reaction_types.rename(columns={'Type': 'Reaction type'})

In [25]:
reaction_types

   Reaction type Sentiment  Score
0          heart  positive     60
1           want  positive     70
2        disgust  negative      0
3           hate  negative      5
4     interested  positive     30
5    indifferent   neutral     20
6           love  positive     65
7     super love  positive     75
8        cherish  positive     70
9          adore  positive     72
10          like  positive     50
11       dislike  negative     10
12     intrigued  positive     45
13       peeking   neutral     35
14        scared  negative     15
15       worried  negative     12

---

# Merging Dataframes

In [26]:
content.head()

                             Content ID Content type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2        photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo  Healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f        photo  Healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6        photo      Technology
4  01ab84dd-6364-4236-abbb-3f237db77180        video            Food

In [27]:
reactions.head()

                             Content ID Reaction type            Datetime
1  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust 2020-11-07 09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike 2021-06-17 12:22:51
3  97522e57-d9ab-4bd6-97bf-c24d952602d2        scared 2021-04-18 05:13:58
4  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust 2021-01-06 19:13:01
5  97522e57-d9ab-4bd6-97bf-c24d952602d2    interested 2020-08-23 12:25:58

In [28]:
reaction_types.head()

  Reaction type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30

In [29]:
merged_df = pd.merge(left=reactions, right=content, on='Content ID', how='inner')
merged_df

,Content ID,Reaction type,Datetime,Content type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,Studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,Studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,Studying
...,...,...,...,...,...
24568,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,audio,Technology
24569,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,audio,Technology
24570,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 03:54:58,audio,Technology
24571,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,audio,Technology
24572,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,audio,Technology

In [30]:
merged_df = pd.merge(left=merged_df, right=reaction_types, on='Reaction type', how='inner')
merged_df

,Content ID,Reaction type,Datetime,Content type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-04-09 02:46:20,photo,Studying,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,2021-03-28 21:15:26,photo,Healthy eating,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,2020-08-04 05:40:33,photo,Healthy eating,negative,0
...,...,...,...,...,...,...,...
24568,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,2020-10-04 22:26:33,audio,Veganism,positive,72
24569,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,2020-09-18 10:50:50,audio,Veganism,positive,72
24570,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-10-31 03:58:44,GIF,Culture,positive,72
24571,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-06-25 15:12:29,GIF,Culture,positive,72
24572,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-12-17 16:32:57,GIF,Culture,positive,72

---

# Determining the top 5 performing categories

In [31]:
agg_score = merged_df.groupby('Category').sum('Score')
agg_score

                 Score
Category
Animals          74965
Cooking          64756
Culture          66579
Dogs             52511
Education        57436
Fitness          55323
Food             66676
Healthy eating   69339
Public speaking  49264
Science          71168
Soccer           57783
Studying         54269
Technology       68738
Tennis           50339
Travel           64880
Veganism         49619

In [32]:
top_5_categories = agg_score.sort_values('Score', ascending=False)[:5]
top_5_categories

                Score
Category
Animals         74965
Science         71168
Healthy eating  69339
Technology      68738
Food            66676

---

# Exporting dataframes

In [33]:
clean_data = pd.ExcelWriter('clean_data.xlsx')

In [34]:
merged_df.to_excel(clean_data, sheet_name='merged_data')
agg_score.to_excel(clean_data, sheet_name='aggregate_score')
top_5_categories.to_excel(clean_data, sheet_name='top_5_categories')

In [35]:
clean_data.save()